.app {
  box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
  background: #fff;
  padding: 2.4rem;
  border: 1px solid #d9d9d9;
  border-radius: .8rem;
  width: 100%;
  max-width: 40.4rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}
.actionsRowFlex {
  display: flex;
  gap: 1.6rem;
}

.tasksAppContainer {}

.tasks {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.noTasksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noTasksText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  color: #000;
  text-align: center;
  max-width: 20.4rem;
}