.button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  cursor: pointer;
}

.primary {
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  padding: 12px;
  width: 55px;
  height: 40px;
  color: #f5f5f5;
  background: #2c2c2c;
}

.transparent {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;
  color: #000;
}