.action {
  display: flex;
  position: relative;
  margin-bottom: 2.4rem;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: .8rem;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  height: 4rem;
  max-width: 100%;
  min-width: 24rem;
  flex: 1;
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #b3b3b3;
}

.buttonWithIcon {
  position: absolute;
  background: none;
  border: none;
  top: 1.2rem;
  right: 1.2rem;
  cursor: pointer;
}