.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.4rem;
}

.appTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
}