.tasksInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.totalTasksContainer {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.totalTasksHeading, .totalTasksCount {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;
  color: #000;
}